@import '_variables.scss';
@import '_home.scss';
@import '../pages/Survey/sass/_survey.scss';

body{
    padding:0;
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    color: #1c1c1c;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: auto;
    overflow: hidden;
  }
  
  .main{
    height: 100vh;
    width: 100%;
    background-color: $color__light;
  }