@import 'variables';
@import 'pages/home';
@import 'pages/survey';

body{
    padding:0;
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    color: #1c1c1c;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: auto;
    overflow: hidden;
  }
  
  .main{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: $color__light;
  }

  h1{
    font-size: 3rem;
    font-weight: 700;
    color: $color__light;
    text-align: left;
    text-rendering: optimizeLegibility;
  }

  p{
    font-family: $font__secondary;
    font-size: 1.5rem;
    font-weight: 400;
    color: $color__light;
    text-align: left;
    text-rendering: optimizeLegibility;
  }