@import 'variables';
@import 'pages/home';
@import 'pages/survey';

body{
    padding:0;
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    color: #1c1c1c;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: auto;
    overflow: hidden;
  }
  
  .main{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: $color__light;
  }

  h1{
    font-family: $font__primary;
    font-size:$font-size__primary;
    font-weight: $font-weight__primary;
    color: $color__light;
    text-align: left;
    text-rendering: optimizeLegibility;
  }

  h2{
    font-family: calc($font-size__primary * .8) ;
    font-size:$font-size__secondary;
    font-weight: $font-weight__primary;
    color: $color__light;
    text-align: left;
    text-rendering: optimizeLegibility;
  }

  p{
    font-family: $font__secondary;
    font-size:$font-size__secondary;
    font-weight: $font-weight__primary;
    color: $color__light;
    text-align: left;
    text-rendering: optimizeLegibility;
  }

  input{
    font-family: $font__secondary;
    font-size:$font-size__secondary*.8;
    font-weight: $font-weight__primary;
    color: $color__light;
    text-align: left;
    text-rendering: optimizeLegibility;
    width: 100%;
    padding: 5px;
  }

  button:disabled{
    font-size: $font-size__secondary;
    background-color: $color__secondary-dark;
    color: $color__light;
    border: 1px solid $color__secondary-dark;
    cursor: not-allowed;

    span:last-child{
      position: relative;
      left: 0;
      top: 2px;
    }
  }