// .main {
//     width: 100%;
//     min-width: 380px;
//     height: 100vh;
//     overflow: hidden;
//     background-color: #80cfa9;
// }

.survey {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0 auto;
    padding: 40px;
    background-color: #A6DDC2;

    .button__prev,
    .button__next {
        background: #80cfa9;
        margin-right: 20px;
        border-radius: 5px;
    }

    .container--buttonPrev {
        display: flex;
        width: 100%;
        height: 35px;
        justify-content: flex-start;
    }


    .statement__description {
        // border:1px solid green;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: flex-start;

    }

    .statement__options {

        display: flex;
        justify-content: right;
        align-items: center;
        margin-top: 10px;
        width: 100%;
        height: 100%;


        .option {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border: 2px solid #1c1c1c;
            border-radius: 5px;
            padding: 5px 10px;
            height: 35px;
            width: 35px;
            margin: 0 10px;
            font-size: 2rem;

        }

        // border: 1px solid red;
    }

    @media screen and (max-width:560px) {
        width: 80%;
        min-width: 300px;

        pointer-events: none !important;

        .statement__description {
            height: 400px;
        }

        .statement__options{
            margin-top: 30px;
            justify-content: center;

        }

        & h3 {
            font-size: 4vh;
            line-height: 5vh;
        }


    }

    @media (min-width: 561px) and (max-width: 820px) {
        width: 70%;
        min-width: 500px;
        border: 1px solid lightgreen;
        pointer-events: none !important;

        .statement__description {
            height: 300px;
        }



        & h3 {
            font-size: 4vh;
            line-height: 5vh;
        }

    }

    @media screen and (min-width: 821px) {
        width: 50%;
        min-width: 700px;
        max-width: 750px;
        pointer-events: all !important;
       

        .button__next, .button__prev, .option-square {
            cursor: pointer;
        }
        // border: 1px solid blue;


        .statement__description {
            height: 250px;
        }

        & h3 {
            font-size: 4.5vh;
            line-height: 5.5vh;
        }
    }


}

.survey__header {
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    height: 40px;
    justify-content: flex-end;

    .survey__count {
        background: #fff;
        border: 2px solid #1c1c1c;
        display: flex;
        align-items: center;
        padding: 0 20px;
        border-radius: 5px;
        font-size: 1rem;
    }

}







// .container--statement {
//     display: flex;
//     // border: 1px solid red;
//     width: 100%;
//     height: auto;
//     flex-direction: column;
//     align-items: center;

//     .statement__description {
//         // border:1px solid green;
//         text-align: left;
//         width: 100%;
//         height: 300px;
//         justify-self: flex-start;

//         & h3 {
//             margin: 0;
//         }

//     }

//     .statement__options {
//         display: flex;
//         width: 100%;
//         margin: 20px 0;
//         align-items: center;
//         justify-content: flex-end;

//         .option {
//             margin-left: 15px;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             background-color: #fff;
//             border-radius: 5px;
//             height: 60px;
//             width: 60px;
//             border: 2px solid #1c1c1c;
//             cursor: pointer;

//             &:hover {
//                 background-color: gray;
//                 color: #fff;
//                 transition: all .3s ease;
//             }
//         }
//     }





//     @media screen and (max-width: 719px) {



//         .statement__description {
//             font-size: 1.7rem;
//             height:auto;
//             line-height: 2.0rem;
//         }

//         .statement__options{
//             margin-top: 40px;
//             justify-content: space-between;

//             .option {
//              width: 100px;
//             }

//         }



//     }
// }

// @media screen and (max-width: 900px) {
//     .container--buttons-bottom {
//         display: flex;
//         justify-content: center;
//     }
// }

// .container--buttons-bottom {
//     display: flex;
//     align-content: center;
//     justify-content: right;
//     flex-wrap: wrap;
//     height: 100px;
//     width: 100%;
//     margin-top: 50px;


//     .button--next {
//         font-family: 'Nunito', sans-serif;
//         width: 250px;
//         height: 80px;
//         font-size: 2.5rem;
//         font-weight: 700;
//         background: #fff;
//         border-radius: 5px;
//         border: 2px solid #1c1c1c;
//         color: #1c1c1c;
//         box-shadow: 0px 13px 4px -10px rgba(0, 0, 0, 0.1);
//         position: relative;


//         cursor: pointer;

//         & span {
//             position: relative;
//             bottom: 5px;
//         }


//         &:hover {
//             background-color: #1c1c1c;
//             color: #fff;
//             position: relative;
//             transition: all .3s ease;

//             &:before {
//                 border-top: none;
//                 border-right: none;
//                 pointer-events: none;
//             }

//             &:after {
//                 border-bottom: none;
//                 border-left: none;
//                 pointer-events: none;
//             }
//         }


//         &:before {
//             content: '';
//             display: flex;
//             width: 235px;
//             height: 12px;
//             background: none;
//             border-top: 2px solid #1c1c1c;
//             border-right: 2px solid #1c1c1c;
//             position: relative;
//             left: -15px;
//             bottom: 15px;
//             border-top-right-radius: 5px;
//             border-top-left-radius: 5px;
//             transition: all .3s ease;
//             pointer-events: none;

//         }

//         &:after {
//             content: '';
//             display: flex;
//             width: 8px;
//             height: 100%;
//             background: none;
//             border-bottom: 2px solid #1c1c1c;
//             border-left: 2px solid #1c1c1c;
//             position: relative;
//             left: -17px;
//             bottom: 80px;
//             border-bottom-left-radius: 5px;
//             border-top-left-radius: 5px;
//             transition: all .3s ease;
//             pointer-events: none;
//         }



//     }

// }



// .container--buttonPrev {
//     display: flex;
//     justify-content: flex-start;
//     width: 100%;
//     height: 50px;
//     margin-bottom: 20px;
// }


// .button__prev,
// .button__next {
//     background: #A6DDC2;
//     border-radius: 5px;
//     margin-right: 10px;
//     cursor: pointer;
//     transition: all .3s ease;
//     height: 40px;
//     width: 40px;
//     box-shadow: 0px 13px 4px -10px rgba(0, 0, 0, 0.1);
//     transition: all .3s ease;


//     &:hover {

//         background: #BFE7D4;
//         color: #1c1c1c;
//         box-shadow: none;
//         transition: all .3s ease;
//     }
// }

// .survey__header {
//     display: flex;
//     margin-bottom: 50px;
//     width: 100%;
//     height: 40px;
//     justify-content: flex-end;
// }

// .survey__content {
//     display: flex;
//     flex-direction: column;
//     width: 80%;
//     height: 100vh;
// }






.modal--reboot {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;

    .modal__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 75vh;
        width: 75vw;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        border: 3px solid #1c1c1c;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: all .5s ease;

        .modal__buttons {
            width: 100%;
            display: flex;
            justify-content: center;

            .modal__button {
                margin-top: 10px;
                padding: 10px 10px;
                margin: 15px 10px;
                border-radius: 5px;
                font-size: 1.3rem;
                font-family: 'Roboto', sans-serif;
                cursor: pointer;

                &--no {
                    background-color: #F3CA40;

                }

                &--si {
                    background-color: #1c1c1c;
                    color: #fff;

                }
            }
        }

        .modal__icon {
            font-size: 4rem;
        }

        &>h2 {
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 10px;
            line-height: 2.5rem;
            text-align: center;
        }
    }

}

.modal--reboot.modal--hidden {
    visibility: hidden;
    transition: all .2s ease;
}