.main{
    width: 100%;
    height: 100vh;
    overflow: hidden; 
}

.survey{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 20px;
    background-color: #80CFA9;
}

.survey__header{
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    height: 40px;
    justify-content: flex-end;

    .button__next{
        background: #E6B89C;
        border-radius: 5px;
        margin-right: 10px;
        cursor: pointer;
        transition: all .3s ease;

        &:hover{
            
            background: #FE938C;
            color: #1c1c1c;
            transition: all .3s ease;
        }
    }

}

.survey__content{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
}

.survey__count{
    background: #fff;
    border: 2px solid #1c1c1c;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 5px;
    // box-shadow: 1px -5px 13px -8px rgba(0,0,0,0.43) inset;
    font-size: 1rem;
}


.survey__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%;
}

.modal--reboot{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;

    .modal__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 75vh;
        width: 75vw;
        background-color: #ffffff80;
        padding: 20px;
        border-radius: 10px;
        border: 3px solid #1c1c1c;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(7.1px);
        -webkit-backdrop-filter: blur(7.1px);

        .modal__buttons{
            width: 100%;
            display: flex;
            justify-content: center;
            
            .modal__button{
                margin-top: 10px;
                padding: 10px 10px;
                margin: 15px 10px ;
                border-radius: 5px;
                font-size: 1.3rem;
                font-family: 'Roboto', sans-serif;
                cursor: pointer;

                &--no{
                    background-color: #F3CA40; 
                  
                }

                &--si{
                    background-color: #fff;
                    
                }
            }
        }

        .modal__icon{
            font-size: 4rem;
        }

        &>h2{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 10px;
            line-height: 2.5rem;
            text-align: center;
        }
    }

}


.modal--reboot.modal--hidden{
    visibility: hidden;
    transition: all .2s ease;
}




.statement-description{
    &>h3{
        font-size: 2rem;
        line-height: 2.3rem;
    }
    
}

