@import "../variables"; // Variables: Colors, fonts, etc.
@import "../mixins"; // Mixins
@import "../media-queries"; // Media queries --> mobile, tablet, desktop


.main{

    
@include sm-mobile {


    .survey__header{
        position: fixed;
        margin-top: 15px;
        height: 75px;
        top: 0;
        left: 0;
        background-color: #fff;
        // border: 1px solid tomato;
    }

   
    .container--statement{
        padding: 0 10px;
    }

    .container--buttonPrev {
        position: relative;
        top: 25px;
        padding: 0 10px;
        margin-top: 50px;
    }

    .statement{
        margin-top: 90px;
    }

    .container--statement{
        
        &.statement__description{
            height: 300px ;
        }
    }
}

@include md-tablet {



    .survey__header{
        position: fixed;
        margin-top: 15px;
        margin-top: 0;
        background-color: #fff
        // border: 1px solid tomato;
    }

    .container--buttonPrev {
        position: relative;
        top: 25px;
        padding: 0 10px;
        margin-top: 50px;
    }

    .statement{
        margin-top: -10px;
    }

   


    .container--statement{

        &.statement__description{
            height: 300px;
        }
   }

    .statement{
        margin-top: 75px;
    }
}

@include lg-desktop {
 
    .survey{
        width: 60%; 
        margin: 0 auto;
    }

    .survey__header{
        position: relative;
        height: 100px;
        background-color: $color__secondary-light;
        // border: 1px solid tomato;
    }

    .button__reboot{
        background-color: $color__secondary-light;
    }


    .container--buttonPrev {
        position: relative;
        top: 25px;
        padding: 0 40px;
    }

    .statement{
        margin-top: -10px;
    }

    .container--statement{
        padding: 40px;
        &.statement__description{
            height: 175px !important;
        }
    }

    
}

}

.survey {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: rgb(242, 242, 242);
    background: linear-gradient(0deg, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);

    .container--statement[data-answered='false'] {

        & + .container--buttons-bottom {

            & > .button--next {
                visibility: hidden;
                opacity: 0;
                
            }

        }

     }
       

    .survey__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;


        .statement {
            display: block;
            margin-top: 10px;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
            width: 100%;
            height: 100%;

        }

        .survey__header {
            display: flex;
            justify-content: flex-end;
            position: relative;
            top: 0;
            left: 0;
            align-items: center;
            padding-right: 10px;
            padding-top: 10px ;
            padding-bottom: 10px ;
            width: 100%;
            height: 100px;
            background-color: #fff;
            box-shadow: inset 0px -1px 5px -3px rgba(0, 0, 0, 0.1);

            .button__reboot {
                width: 40px;
                height: 40px;
                cursor: pointer;
                padding: 0;
                margin-right: 5px;
                background-color: #fff;
                border: none;

                & span {
                    font-size: 2rem;
                    color: $color__primary;
                    line-height: 1.5rem;
                }
            }

            .survey__count {
                display: inline-flex;
                /* o display: flex; */
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 100%;
                /* asegura que el div tiene una altura definida */
                width: 80px;
                border: 2px solid $color__light;
                border-radius: 10px;
                height: 40px;

                background-color: $color__primary-light;

            }

            .survey__count span {
                font-size: $font-size__secondary * .7;
                color: $color__primary-dark;
                display: inline-block;
                vertical-align: middle;
            }

        }

        .container--buttonPrev {
            display: block;
            width: 100%;
            height: 40px;
            margin: 0;
            padding: 0 40px;
            margin-top: 5px;

            .button__prev {
                display: block;
                width: 40px;
                background-color: none;
                border: none;
                height: 40px;
                cursor: pointer;
                padding: 0;
                padding-right: 5px;
                border-radius: 50%;
                
                & :hover {
                    color: $color__secondary;
                    transition: all 0.2s ease-in-out;
                }

                & span {
                    position: relative;
                    right: 5px;
                    font-size: 2rem;
                    color: $color__primary;
                    line-height: 1.5rem;
                }

            }
        }

        .container--statement {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            // justify-content: space-between;
            align-items: center;
            margin: 0;

            padding: 0 40px;
            margin-top: -10;
        }

        .statement__description {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 175px;
            
            margin: 15px auto;
            padding: 25px;
            border-radius: 10px;
            font-size: $font-size__secondary*.9;
            text-align: center;

            &::after , &::before {
                content: "";
            }

            &.hidden{
                color: $color__primary-light;
                background-color: $color__primary-light;
                border: 3px solid $color__primary;
                transition: all .2s ease-in-out;
            }

            &.active{
                color: $color__primary-dark;
                background-color: #fff;
                border: 3px solid $color__primary;
                transition: all .2s ease-in-out;
            }
        }

        .container__options {
            display: block;
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 0;
            text-align: center;
            // border: 1px solid $color__primary;
        }

        .statement__options {
            display: inline-flex;
            width: 75%;
            height: 80px;
            align-self: center;
            justify-content: space-evenly;
            align-items: center;
            // border: 2px solid $color__secondary-dark;
            border-radius: 10px;
            background-color: $color__secondary-light;
            padding: 20px;

            .option {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                height: 55px;
                width: 55px;
                font-size: 1.3rem;
                border-radius: 5px;
                border: 2px solid $color__secondary-dark;
                color: $color__primary;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
                transition: all .2s ease-in-out;

                &.option-label {
                    cursor: pointer;
                }

                &:has(.selected){
                    background-color: $color__primary;
                    box-shadow: none;
                    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.4);
                    color: #fff;
                    transition: all .2s ease-in-out;
                    
                }
            }

        }

    }

    
    .container--buttons-bottom{
        display: block;
        width: 100%;
        height: 65px;
        text-align: center;
        // border: 1px solid red;
        margin-top: 15px;

        .button--next{
            visibility: visible;
            opacity: 1;
            background-color: $color__light;
            color: $color__primary-dark;
            font-weight: 700;
            border: none;
            height: 40px;
            padding: 5px 0;
            transition: all .3s ease-in-out;

            .material-symbols-sharp{
                @include move-left;
                position: relative;
                top:5px;
                font-size: 1.5rem;
                color: $color__primary-dark;
                line-height: .75rem;
            }
        }
    }


}


// .modal--reboot {
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transition: all .5s ease;

//     .modal__container {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         color: $color__secondary-dark;
//         align-items: center;
//         height: 75vh;
//         width: 75vw;
//         background-color: #ffffff;
//         padding: 20px;
//         border-radius: 10px;
//         border: 3px solid $color__secondary;
//         box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
//         transition: all .5s ease;

//         .modal__buttons {
//             width: 100%;
//             display: flex;
//             justify-content: center;

//             .modal__button {
//                 margin-top: 10px;
//                 padding: 10px 10px;
//                 margin: 15px 10px;
//                 border-radius: 5px;
//                 font-size: 1.3rem;
//                 font-family: $font__primary;
//                 cursor: pointer;

//                 &--no {
//                     background-color: #F3CA40;

//                 }

//                 &--si {
//                     background-color: $color__secondary-dark;
//                     color: #fff;

//                 }
//             }
//         }

//         .modal__icon {
//             font-size: 4rem;
//         }

//         &>h2 {
//             font-size: 2.5rem;
//             font-weight: 700;
//             margin-bottom: 10px;
//             line-height: 2.5rem;
//             text-align: center;
//         }
//     }

// }

// .modal--reboot.modal--hidden {
//     visibility: hidden;
//     transition: all .2s ease;
// }