
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500&family=Lato:wght@700&family=Poppins&family=Roboto:wght@500&display=swap');
@import url('./titulo.css');
@import url('./home.css');
@import url('./pregunta.css');


.main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-family: 'Roboto';
  background: #0C7489;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
  position: absolute;
  width: 50%;
  min-width: 200px;
  height: 75%;
  /* left: 72px;
  top: 100px; */
  /* background: #0C7489; */
  border-radius: 10px;
  padding: 5%;
}

.home__titulo {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  
}

.home__descripcion{
  font-family: 'Lato';
  margin-top: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
 
}


.container__datos {
  /* background-color: brown; */
  justify-self: flex-end;
  width: 100%;
  min-width: 200px;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 20px;
  /* position: absolute;
  width: 35%;
  height: 72px;
  right:  8%;
  top: 40%; */
}

.error-correo{
  display: none;
}

.dato__correo-electronico,
.dato__nombre {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}


.ddato__correo-electronico>input,
.dato__nombre>input {

  text-align: center;
  padding: 10px;
  width: 200px;
  border: none;
  border-bottom: 1px solid #0C7489;

}

.datos__button-empezar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 30px;
  width: 200px;
  background-color: #fff;
  color: #0C7489;
  border: 3px solid #0C7489;
  border-radius: 5px;
  font-family: 'Lato';
  cursor: pointer;
  transition: all .3s ease-in;
}

.datos__button-empezar:hover {
  background-color: #0C7489;
  color: #fff;
  transition: all .3s ease-in;
}


.datos__button-empezar:disabled {
  display: none;
  transition: all .3s ease-in;
}

form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__survey {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* justify-content: center; */
  align-content: center;
  height: 60vh;
  width: 90vh;
  padding: 30px;
  border-radius:10px;
  background-color: #0C7489;
  color: #fff;
}

.container__statement {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
}

.contador-preguntas{
  font-size: 1rem;
  margin-bottom: 30px;
  align-self: end;
  font-family: 'Lato';
}

.pregunta{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}


.statement-description {
  min-height: 150px;
  font-size: 1.7rem;
  font-family: 'Roboto';
  line-height: 30px;
}


.statement-options {
  display: flex;
  flex-wrap: wrap;
  align-self: self-end;
}
.option-square {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-right: 15px;
  padding: 15px;
  border-radius: 3px;
  font-family: 'Lato';
  transition: all .4s ease-out;
  
}

.option-square:hover {
  cursor: pointer;
  background-color: gray;
  transform: scale(1.1);
  transform: rotateX(10deg);
  box-shadow: inset 6px 11px 7px -7px rgba(0, 0, 0, 0.30);
  transition: all .2s ease-in;

}

.option-square.selected {
  background-color: #fff;
  color: #0C7489;
}

@media (max-width: 720px) {
  .home {
    padding: 25px;
    min-width: 200px ;
  }


  .datos {
    min-width: 300px;
    left: 80%;
  }

  .home__titulo {
    font-size: 30px;
  }

  .home-descripcion{
    font-size: 15px;
    line-height: 20px;
  }
}

