/* Error: unmatched "}".
 *     ,
 * 112 | }
 *     | ^
 *     '
 *   src\sass\pages\_home.scss 112:1  @import
 *   src\sass\main.scss 2:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: unmatched "}".\a     \2577 \a 112 \2502  }\d\a     \2502  ^\a     \2575 \a   src\\sass\\pages\\_home.scss 112:1  @import\a   src\\sass\\main.scss 2:9           root stylesheet';
}
