/* Error: (max-width: 767px) isn't a valid CSS value.
 *    ,
 * 12 |   @media #{$mobile} {
 *    |            ^^^^^^^
 *    '
 *   src\sass\pages\_home.scss 12:12  @import
 *   src\sass\main.scss 2:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: (max-width: 767px) isn't a valid CSS value.\a    \2577 \a 12 \2502    @media #{$mobile} {\d\a    \2502             ^^^^^^^\a    \2575 \a   src\\sass\\pages\\_home.scss 12:12  @import\a   src\\sass\\main.scss 2:9           root stylesheet";
}
