@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500&display=swap");
/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Global
   ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  color: #1c1c1c;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: auto;
  overflow: hidden;
}

/* ==========================================================================
   Media queries
   ========================================================================== */
/* ==========================================================================
   Components
   ========================================================================== */
.button {
  opacity: 1;
  width: 350px;
  border-radius: 20px;
  border: 2px solid #6378EB;
  background-color: #bdc6f7;
  color: #6378EB;
  visibility: visible;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background-color: #6378EB;
  color: #f2f2f2;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.25);
}

.button:disabled {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Global
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  color: #1c1c1c;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: auto;
  overflow: hidden;
}

/* ==========================================================================
   Media queries
   ========================================================================== */
/* ==========================================================================
   Components
   ========================================================================== */
.button {
  opacity: 1;
  width: 350px;
  border-radius: 20px;
  border: 2px solid #6378EB;
  background-color: #bdc6f7;
  color: #6378EB;
  visibility: visible;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background-color: #6378EB;
  color: #f2f2f2;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.25);
}

.button:disabled {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

/* ==========================================================================
   Media queries
   ========================================================================== */
#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100%;
}
@media only screen and (min-width: 520px) and (max-width: 1023px) {
  #home {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #home .home__info {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #6378EB;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  #home .home__info .home__title {
    padding-bottom: 0;
    margin-bottom: -2rem;
  }
  #home .home__info .home__subtitle {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    font-weight: 400;
  }
  #home .home__data {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #6378EB;
  }
  #home .home__data .container__datos {
    justify-content: flex-start;
  }
  #home .home__data .container__datos .datos__title {
    color: #f2f2f2;
    font-weight: 400;
  }
  #home .button {
    background-color: #f2f2f2;
  }
}
@media only screen and (max-width: 519px) {
  #home {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #home .home__info {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #6378EB;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  #home .home__info .home__title {
    padding-bottom: 0;
    margin-bottom: -2rem;
  }
  #home .home__info .home__subtitle {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    font-weight: 400;
  }
  #home .home__data {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #6378EB;
  }
  #home .home__data .container__datos {
    justify-content: flex-start;
  }
  #home .home__data .container__datos .datos__title {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 400;
  }
  #home .button {
    background-color: #f2f2f2;
  }
}

.home__info {
  display: flex;
  grid-column: 1/2;
  flex-direction: column;
  justify-content: right;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: #6378EB;
  padding-left: 25%;
}
.home__info .home__title {
  display: flex;
  align-items: flex-end;
  padding-bottom: 2rem;
  font-weight: 400;
  color: #f2f2f2;
  width: 75%;
  height: 50%;
}
.home__info .home__subtitle {
  font-size: 1.5rem;
  color: #f2f2f2;
  width: 75%;
  height: 50%;
}

.home__data {
  display: flex;
  grid-column: 2/3;
  flex-direction: column;
  place-content: center;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}
.home__data .container__datos {
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: 1rem;
  width: 100%;
  height: 100%;
}
.home__data .container__datos .datos__title {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: #1c1c1c;
  align-self: flex-start;
  width: 100%;
  justify-content: center;
}
.home__data .container__datos .datos__title span {
  font-size: 2.5rem;
  margin-right: 1rem;
}
.home__data .container__datos .dato__nombre,
.home__data .container__datos .dato__correo-electronico {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
}
.home__data .container__datos .dato__nombre input,
.home__data .container__datos .dato__correo-electronico input {
  display: inline-flex;
  align-items: center;
  width: 75%;
  justify-content: center;
  padding: 1rem;
  border: 2px solid #6378EB;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #1c1c1c;
  background-color: #f2f2f2;
  margin-top: 1rem;
  padding-left: 1rem;
}
.home__data .container__datos .dato__nombre .material-symbols-sharp,
.home__data .container__datos .dato__correo-electronico .material-symbols-sharp {
  position: relative;
  top: 3px;
  left: 10px;
}

.survey {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  margin: 0 auto;
  padding: 40px;
  background-color: #A6DDC2;
}
.survey .button__prev,
.survey .button__next {
  background: #80cfa9;
  margin-right: 20px;
  border-radius: 5px;
}
.survey .container--buttonPrev {
  display: flex;
  width: 100%;
  height: 35px;
  justify-content: flex-start;
}
.survey .statement__description {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
.survey .statement__options {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  height: 100%;
}
.survey .statement__options .option {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #1c1c1c;
  border-radius: 5px;
  padding: 5px 10px;
  height: 35px;
  width: 35px;
  margin: 0 10px;
  font-size: 2rem;
}
@media screen and (max-width: 560px) {
  .survey {
    width: 80%;
    min-width: 300px;
    pointer-events: none !important;
  }
  .survey .statement__description {
    height: 400px;
  }
  .survey .statement__options {
    margin-top: 30px;
    justify-content: center;
  }
  .survey h3 {
    font-size: 4vh;
    line-height: 5vh;
  }
}
@media (min-width: 561px) and (max-width: 820px) {
  .survey {
    width: 70%;
    min-width: 500px;
    border: 1px solid lightgreen;
    pointer-events: none !important;
  }
  .survey .statement__description {
    height: 300px;
  }
  .survey h3 {
    font-size: 4vh;
    line-height: 5vh;
  }
}
@media screen and (min-width: 821px) {
  .survey {
    width: 50%;
    min-width: 700px;
    max-width: 750px;
    pointer-events: all !important;
  }
  .survey .button__next, .survey .button__prev, .survey .option-square {
    cursor: pointer;
  }
  .survey .statement__description {
    height: 250px;
  }
  .survey h3 {
    font-size: 4.5vh;
    line-height: 5.5vh;
  }
}

.survey__header {
  display: flex;
  margin-bottom: 50px;
  width: 100%;
  height: 40px;
  justify-content: flex-end;
}
.survey__header .survey__count {
  background: #fff;
  border: 2px solid #1c1c1c;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 1rem;
}

.modal--reboot {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.modal--reboot .modal__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 75vw;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #1c1c1c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}
.modal--reboot .modal__container .modal__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}
.modal--reboot .modal__container .modal__buttons .modal__button {
  margin-top: 10px;
  padding: 10px 10px;
  margin: 15px 10px;
  border-radius: 5px;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.modal--reboot .modal__container .modal__buttons .modal__button--no {
  background-color: #F3CA40;
}
.modal--reboot .modal__container .modal__buttons .modal__button--si {
  background-color: #1c1c1c;
  color: #fff;
}
.modal--reboot .modal__container .modal__icon {
  font-size: 4rem;
}
.modal--reboot .modal__container > h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 2.5rem;
  text-align: center;
}

.modal--reboot.modal--hidden {
  visibility: hidden;
  transition: all 0.2s ease;
}

body {
  padding: 0;
  background-color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  color: #1c1c1c;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: auto;
  overflow: hidden;
}

.main {
  height: 100vh;
  width: 100%;
  background-color: #f2f2f2;
}

/*# sourceMappingURL=index.css.map */
